fastapi
uvicorn[standard]
sqlalchemy 
pymysql
pydantic
pydantic-core
pydantic-settings
typing-extensions
databases 
mysql-connector-python
python-dotenv
sqlmodel
pyjwt
passlib
alembic
cryptography
torch
torchvision
pandas
matplotlib
ultralytics